#sending-page {
  height: 0;
  flex-grow: 1;
  flex-direction: column;
}

#sending-search-pane {
  margin: 10px 0;
}

.sending-search-button button {
  height: 100% !important;
}

.sending-address-pane {
  width: auto;
  flex-grow: 1;
  padding: 0 5px;
  margin-right: 10px;
  align-items: center;
}

.sending-address-pane p {
  margin: 0 10px;
}

.magnify-icon {
  margin: 0 10px 0 5px;
}

.sending-address-box {
  flex-grow: 1;
}

#track-map {
  height: 0;
  flex-grow: 1;
}
