#tracking-page {
  height: 0;
  flex-grow: 1;
  flex-direction: column;
}

.tracking-number-pane {
  width: auto;
  padding: 0 5px;
  margin: 10px 0;
  align-items: center;
}

.magnify-icon {
  margin: 0 10px 0 5px;
}

.tracking-number-box {
  flex-grow: 1;
}

#track-map {
  height: 0;
  flex-grow: 1;
}
