#tracking-page {
  height: 0;
  flex-grow: 1;
  flex-direction: column;
}

#tracking-search-pane {
  margin: 10px 0;
}

.tracking-search-button {
  margin-left: 10px;
}

.tracking-search-button button {
  height: 100% !important;
}

.tracking-number-pane {
  width: auto;
  flex-grow: 1;
  padding: 0 5px;
  align-items: center;
}

.magnify-icon {
  margin: 0 10px 0 5px;
}

.tracking-number-box {
  flex-grow: 1;
}

#track-map {
  height: 0;
  flex-grow: 1;
}
